// colors
$white-bg: "background-color:#FFF9C4";


// fonts
$titleFont: 'Fjalla One', sans-serif;
$bodyFont: 'Roboto', sans-serif;
$bodySubfont: 'Roboto Condensed', sans-serif;

// Test borders:
$test1: 2px solid yellow;
$test2: 2px solid orange;
$test3: 2px solid lime;
