
<div class="container">
  <div class="welcome">
    <h1>Welcome To DeckMe!</h1>
    <h2>Deck me is a simple and easy to use Magic The Gathering deck building application. Simply create an account or login to start building!</h2>
  </div>
  <div class="user-login">
    <div class="login-pannle">
        <md-card class="new-user">
        <!-- CARD HEADER -->
        <h2 id="newUserTitle">Create an Account:</h2>
        <md-card-header>
            <md-card-title id="newUserIcon"><i class="material-icons">account_circle</i>New User:</md-card-title>
          </md-card-header>
          <!-- CARD CONTENT -->
          <md-card-content>
            <md-input-container color="warn">
              <input mdInput type="text" placeholder="Username" #newUsername> <!-- JOE!! NEW INPUT !-->
            </md-input-container>

            <md-input-container color="warn">
              <input mdInput type="text" placeholder="Email" #newEmail>
            </md-input-container>

            <md-input-container color="warn">
              <input mdInput type="password" placeholder="Password" #newPassword>
            </md-input-container>

            <button md-raised-button color="accent" (click)="newUser(newEmail.value, newPassword.value, newUsername.value); newEmail.value=''; newPassword.value=''; newUsername.value='';">Create New User</button>

          </md-card-content>
        </md-card>
        <p>-Or-</p>
      <md-card class="old-user">
      <h2 id="oldUserTitle">Already Have an account?</h2>
      <md-card-header>
          <md-card-title id="oldUserIcon"><i class="material-icons">face</i>Login:</md-card-title>
        </md-card-header>
        <!-- CARD CONTENT -->
        <md-card-content>
          <md-input-container color="warn">
            <input mdInput type="text" placeholder="Email" #loginEmail>
          </md-input-container>

          <md-input-container color="warn">
            <input mdInput type="password" placeholder="Password" #loginPassword>
          </md-input-container>

          <button id="oldUserSubmit"md-raised-button color="accent" (click)="loginUser(loginEmail.value, loginPassword.value); loginEmail.value=''; loginPassword.value='';">Login</button>

          <h3>Forgot Password?</h3>
          <md-input-container color="warn">
            <input mdInput type="text" #resetPEmail placeholder="Email">
          </md-input-container>
          <button id="passwordResetButton"md-raised-button color="accent" (click)="sendResetPEmail(resetPEmail.value); resetPEmail.value='';">Send Reset Email</button>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
